<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="client_id" value="1"/>
		<add key="client_secrit" value="1"/>
		<add key="token_type" value="1"/>
		<add key="token_pin" value="1"/>
		<add key="folder_path" value="1"/>
	</appSettings>
</configuration>